<div class="popup" id="popup-faq" style="display: block;">
  <span class="glyphicon glyphicon-remove remove-icon" (click)="bsModalRef.hide()"></span>
  <div class="popup-inner">
    <a href="javascript:void(0)" class="close-popup-link"></a>
    <header>
      <h2>Frequently Asked Questions</h2>
    </header>
    <h3>GENERAL</h3>
    <h4>What is Purefit KETO and why should I use it?</h4>
    <p>Purefit KETO is a powerful serum made from natural ingredients.
      With just a few drops applied to a blemish, the serum works to
      penetrate to the root of a mole or skin tag, and triggers a rush of
      white blood cells to the blemish, which starts the removal and
      healing process.</p>
    <h4>Is it safe to use? What ingredients is Purefit KETO made
      from?</h4>
    <p>Absolutely. The natural based formula of Purefit KETO is safe
      to use as directed. This special serum is made from 2 key
      ingredients: Sanguinaria Canadensis and Zincum Muriaticum. Combined,
      they are proven to safely correct moles and skin tags as well as
      other skin blemishes of all types..</p>
    <p>It is safe to use by adult men and women – 18 years and older.
      As with any supplement, we suggest consulting a health care
      professional prior to use if you have any pre-existing medical
      conditions and/or are taking any prescription medication.</p>
    <h3>SHIPPING &amp; DELIVERY</h3>
    <h4>What shipping methods are available?</h4>
    <p>
      For all Purefit KETO orders we offer the following shipping method:<br>We
      ship with USPS Priority Air Mail. Once your order has been shipped,
      delivery normally takes 2-4 business days, depending on your
      location. For all international orders, it can take longer, up to an
      additional 3-5 business days. All orders are shipped with a tracking
      number and delivery is guaranteed.
    </p>
    <h4>How do I track my Purefit KETO shipment?</h4>
    <p>Tracking your Purefit KETO order is easy. Once your order is
      confirmed, we will send you an email with your order and tracking
      information.</p>
    <p>
      Need help? Have a question not listed here?<br>Contact us and
      we’ll be happy to help with whatever you need.
    </p>
    <footer>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-popup-link" (click)="bsModalRef.hide()">CLOSE</button>
      </div>
    </footer>
  </div>
</div>


