:host {

}
.popup-loading-wrapper .popup h2{
  margin: 0 auto;
}

.popup-loading-wrapper .popup .product-image {
  width: 110px;
  height: 176px;
  margin: 0 auto 6px;
  position: relative;
  background: url(../../assets/images/keto-logo-lg.png) no-repeat left top;
}
