<div class="popup" id="popup-disclaimer">
  <span class="glyphicon glyphicon-remove remove-icon" (click)="bsModalRef.hide()"></span>
  <div class="popup-inner">
    <a href="javascript:void(0)" class="close-popup-link"></a>
    <header><h2>Disclaimer</h2></header>
    <p>This product is not for use by or sale to persons under the age of 18. This product should be used only as directed on the label. It should not be used if you are pregnant or nursing. Consult with a physician before use if you have a serious medical condition or use prescription medications. A Doctor's advice should be sought before using this and any supplemental dietary product. All trademarks and copyrights are the property of their respective owners and are not affiliated with nor do they endorse this product. These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease. Individual weight loss results will vary. By using this site you agree to follow the Privacy Policy and all Terms &amp; Conditions printed on this site. Void Where Prohibited By Law.</p>
    <footer>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-popup-link" (click)="bsModalRef.hide()">CLOSE</button>
      </div>
    </footer>
  </div>
</div>

