<div class="main-page">
  <img src="./assets/images/exit-order_eval1.gif" style="display:none" id="ExitPop" border="0">

  <!-- nav-->
  <nav class="navbar" role="navigation">
    <div class="navbar-default navbar-inner">
      <div class="contactInfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 independent text-left">100% Money Back Guarantee that it works!</div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <div class="navbar-brand"><img class="img-responsive" src="../../assets/images/logo.png" > Burn Fat for Energy! <strong>BHB Formula!</strong></div>
            <span type="span" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
          </div>
          <div id="navbar" class="navbar-collapse collapse orange12">
            <ul class="nav navbar-nav knav">
              <li><a href="#science" pageScroll>How it Works</a></li>
              <li><a href="#theproof" pageScroll>The Proof</a></li>
              <li><a href="#whatyouget" pageScroll>What You Get</a></li>
              <li><a href="#ordernow" pageScroll>ORDER NOW</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </nav>
  <!--/nav-->

  <section id="header">
    <div class="row headerbg">
      <div class="container ">
        <div class="col-sm-8 nopad">
          <div>
            <img src="./assets/images/main-grabber-desktop.png" class="img-responsive desktop deskimg" style="margin-bottom:25px;">
            <img src="./assets/images/main-grabber-mobile.png" class="img-responsive mobile center-block" style="margin-bottom:25px;">
          </div>
          <div class="viraltext">
            “Find out why this Purefit KETO weight loss product is going viral”
          </div>
          <div class="viraltextm">
            CLAIM YOUR FREE BOTTLE!
          </div>
        </div>
        <div class="col-sm-4 nopad">
          <div class="formSeals">
            <img src="./assets/images/seals-top.png" width="330" height="108" alt="" class="center-block img-responsive">
          </div>
          <div id="ordernow" class="formBox">

            <div class="formTop">
              Where do we<br>
              Send your Bottle?
              <img src="./assets/images/form-arrow.png" width="64" class="desktop" height="136" alt="">
            </div>
            <app-prospect-form></app-prospect-form>
          </div>
          <br>
          <img src="./assets/images/secureicons.jpg" width="354" height="51" class="center-block img-responsive" alt="">
        </div>
      </div>
    </div>
  </section>



  <section id="section1">
    <div class="row">
      <div class="container">
        <div class="col-sm-7" style="padding:30px;">
          <h2>Revolutionary Break-through!</h2>
          <p class="highlight">Why does it have <strong>Scientists</strong>, <strong>Doctors</strong> and <strong>Celebrities</strong> Buzzing?</p>
          <p><strong><span class="maroon underline">The most talked about weight loss product is finally here!</span></strong> A powerful fat burning ketone, BHB has been modified to produce a instant fat burning solution the natural way. Beta-hydroxybutyrate is the first substrate that kicks the metabolic state of ketosis into action. If you take it, BHB is able to start processing in your body resulting in energy and greatly speed up weight loss by putting your body into ketosis. This one BHB Supplement is a revolutionary breakthrough that has the Media in a frenzy!</p>
          <p><strong><span style="text-decoration: underline;">Purefit KETO with BHB is here to stay because of the unsurmountable success people are having losing up to 1lb of fat per day!</span></strong></p>
        </div>
        <div class="col-sm-5 nopad">
          <img src="./assets/images/feature-product.jpg" class="img-responsive pull-right desktop" width="479" height="441" alt="">
          <img src="./assets/images/feature-product-m.jpg" width="528" height="444" class="center-block img-responsive mobile" alt="">
        </div>
      </div>
    </div>
  </section>



  <div class="row">

    <!--desktop-->
    <div class="theproofD">
      <div class="container">
        <div class="col-sm-6">
          &nbsp;
        </div>
        <div class="col-sm-6">
          <img src="./assets/images/ketosis-ketopia-proof-title.png" width="529" height="104" class="img-responsive center-block" alt="ketopia ketosis" style="margin-top:107px;">
          <h1>Join the Thousands who are already losing up to 1lb per day!</h1>
          <img src="./assets/images/the-proof-ketopia-ketosis-testimonials.png" width="553" height="439" class="img-responsive center-block" alt="Testimonials"> <br>
          <p class="text-center">Join the thousands already losing weight with ketosis! Burn fat for energy instead of carbs and feel the elevated energy that ketosis gives you!</p>
        </div>
        <div class="col-sm-12">
          <a href="#ordernow" pageScroll><img src="./assets/images/the-proof-ketosis-call-to-action.png" width="1056" height="281" class="img-responsive center-block" alt="order ketopia"></a>
        </div>
      </div>
    </div>

    <!--mobile-->
    <div class="theproofM">
      <div class="container">
      </div>
    </div>

  </div>



  <div class="row">

    <div id="science" class="container">
      <div class=" col-lg-12 text-center">
        <h1 class="mont60 super dark"><br>HOW DOES IT WORK?</h1>
        <span class="os28 lighter dark">Ketosis  Forces your body to <span class="orange">Burn Fat for Energy</span> instead of Carbs.</span>
        <div class="space">&nbsp;</div>
      </div>
      <div class="col-sm-5">
        <img src="./assets/images/traditional-ketosis-diet.jpg" width="391" height="237" class="img-responsive centered" alt="ketosis diet body burns carbs instead of fat"><br>
        <h2>WHY YOUR DIETS FAIL:</h2>
        <p class="content">Currently with the massive load of cabohydrates in  our foods, our bodies are conditioned to burn carbs for energy instead of fat. Because it is an easier energy source for the body to use up.</p>
        <h4 class="super"><br>The Problem </h4><br>
        <p class="content">
          1. Fat stores on the body as carbs are burned as an easy energy fuel. Essentialy we gain more weight year after year.<br><br>
          2. Carbs are not the body’s ideal source of energy therefore we are usually left feeling tired, stressed and drained at the end of each day.
        </p>
      </div>
      <div class="col-sm-2">
        <div class="vsup text-center"><img src="./assets/images/vs-vert.jpg" width="66" height="229" class="centered" alt=""></div>
        <div class="vsdwn"><img src="./assets/images/vs-horiz.jpg" width="315" height="56" class="centered" alt=""></div>
      </div>
      <div class="col-sm-5">
        <img src="./assets/images/ketosis-diet.jpg" width="391" height="237" class=" img-responsive centered" alt=""><br>
        <h2>WHY <span class="orange">KETO</span> WORKS!</h2>
        <p class="content">Ketosis is the state where your body is actually burning fat for energy instead of carbs. Ketosis is extremely hard to obtain on your own and takes weeks to accomplish.  Purefit KETO actually helps your body achieve ketosis fast and helps you burn fat for energy instead of carbs!</p><br>
        <h4 class="super"><br> The Solution:</h4><br>
        <p class="content">
          1. When your body is in ketosis, you are actually burning stored fat for energy and not carbs!<br><br>
          2. Fat IS the body’s ideal source of energy and when you are in ketosis you experience energy and mental clarity like never before and of course very rapid weight loss.
        </p>
      </div>
      <br><br>
    </div>

    <div id="science2" class="row">
      <div class=" container">
        <div class="col-lg-12 centered">
          <br><br>
          <h1 class="os33 lighter dark">Nutritional Ketosis has been believed to difficult to achieve...</h1>
          <span class="os33 orange super montbold">UNTIL NOW</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="ketpoia-ketosis-banner">
        <div class="container">
          <h2>Burn Fat Instead of Carbs with</h2>
          <img src="./assets/images/keto-logo-lg.png" width="491" height="183" class="center-block img-responsive" style="line-height:845px;" alt="Ketopia Logo">
        </div>
      </div>
    </div>

    <div id="whatyouget" class="row">
      <div class="container">
        <div class=" col-lg-12 text-center">
          <img src="./assets/images/nongmo.jpg" width="102" height="102" class="center-block" alt="non gmo">
          <h1 class="mont60 super dark">WHAT DO YOU GET?</h1>
          <span class="os28 lighter dark">The 30 day ketosis supplement that is <span class="orange">Sweeping the Nation</span>!</span>
          <div class="space">&nbsp;</div>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
          <img src="./assets/images/whatdoyouget.jpg" width="383" height="407" class="img-responsive center-block" alt="ketopia ketosis ketonx drink">
          <h1 class="productTitle"> Purefit KETO Advanced Energy Ketones</h1>
          <h3 class="productSub">Puts your body in Ketosis!</h3>
          <p class="content">
            Purefit KETO contains Beta-hydroxybutyrate. BHB is the first substrate that kicks the metabolic state of ketosis into action. Revisiting the scenario from before, if you either take supplemental forms or if your body is making beta-hydroxybutyrate, it is able to start processing in your body resulting in energy.
          </p>
          <p class="content">
            Beta-hydroxybutyrate floats around in your blood, and importantly, can cross different important barriers to be able to be turned into energy at all times. One of the most important areas where this happens is in the brain. The blood-brain barrier (BBB) is usually a very tightly regulated interface, but since BHB is such a rock star and so hydrophilic, your brain knows to let it in so it can bring energy to the party at any time. This is one of the main reasons why increased BHB levels lead to heightened mental acuity.*<br>
            <br>Get slim, healthy,  and confident again with our unique Purefit KETO supplement. Ideal for both men  and women,  Purefit KETO is a dynamic and powerful ketosis dietary  supplement that will assist weight loss, promote abdominal fat burn, and  support better digestion and sleep.* <br>
            <br>
          </p>
          <ul>
            <li>Lose Weight*</li>
            <li>Burn Fat in Trouble Areas*</li>
            <li>Get into Ketosis Fast!*</li>
            <li>Burn Fat for Energy (without the jitters)!*</li>
            <li>Better Brain Health!*</li>
            <li>Faster Recovery from Exercise!*</li>
            <li>Maintain Lean Muscle!* </li>
          </ul>
          <p></p>
          <p>
            <br><i class="fa fa-check green" style="font-size:25px;"></i> <strong>30 day, 90 and 150 Day Kits Available</strong>
          </p>
        </div>
        <div class="space">&nbsp;</div>
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <div class="space">&nbsp;</div>
          <div class="space">&nbsp;</div>
          <a href="#ordernow" pageScroll><span class="c2abtn">ORDER NOW!</span></a>
          <div class="space">&nbsp;</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="stayingKetosis">
        <div class="container">
          <h3>STAYING IN</h3>
          <h2>KETOSIS</h2>
          <h3>IS SIMPLE</h3>
        </div>
      </div>
    </div>

    <div id="howto" class="row">
      <div class="container">
        <div class="col-sm-8 ketopiainfo">
          <h2>HOW TO USE  Purefit KETO</h2>
          <p><strong>Purefit KETO is a one-of-a-kind ketosis product designed to help you lose weight and feel amazing.</strong></p>
          <p> Purefit KETO is a supplement that allows the body to begin converting into a state of nutritional ketosis. Featuring a special blend of ingredients,  Purefit KETO is a safe and simple way to achieve ketosis without the negative side effects of a typical ketogenic diet.            </p>
          <p>
            Purefit KETO is extremely easy to use and experience fast weight loss results with.
          </p><ol>
          <li>Take 2  Purefit KETO capsules daily with water</li>
          <li>Eat keto-friendly meals and snacks throughout the day</li>
          <li>Enjoy improved energy and focus while our body uses fat for energy!</li>
        </ol>
          <p></p>
          <br>
          <h3>EATING Purefit KETO FRIENDLY</h3>
          <p>The best way to support your  Purefit KETO journey is with a diet that consists primarily of fat, with moderate protein and low carbohydrate intake. For best results, aim for a ratio of 70% fat, 25% protein, and 5% carbohydrates.<br><br>
          </p><h3>TIPS FOR SUCCESS</h3>
          <p>Before you begin, you are encouraged to take a "before" photo and an inventory of your body measurements, energy level, mental clarity, and overall sense of wellbeing so you can track your results. It's also wise to get plenty of rest and consult your healthcare professional before starting any health program.</p>
          <p>Once you are in a state of nutritional ketosis, staying in ketosis is as simple as maintaining a keto-friendly diet, plenty of exercise, and enjoying all the benefits  Purefit KETO has to offer.</p>
          <p>Don't worry! It's OK to spring for dessert or splurge at the buffet at your next family gathering -  Purefit Purefit KETO is always there for you when you need it.</p>
        </div>
        <div class="col-sm-4">
          <img src="./assets/images/keto-bottle.jpg" width="280" height="500" class="img-responsive center-block" alt="ketonx drink"><br><br>
          <p class="small text-center"> Purefit KETO is a daily supplement that helps you get into fat burning ketosis fast!</p>
        </div>

        <div class="col-sm-12  text-center">
          <span class="space">&nbsp;</span><br><br>
          <a href="#ordernow" pageScroll><span class="c2abtn">GET IT NOW</span></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="allnatural">
        <div class="container">
          <img src="./assets/images/goodnews-ketopia.png" class="center-block img-responsive" width="796" height="395" alt="">
        </div>
      </div>
    </div>

    <div id="theproof" class="row">
      <div class="container text-center">
        <div class=" col-lg-12 text-center">
          <h1 class="mont50 super dark centered">WHAT OTHERS ARE SAYING:</h1>
          <span class="os28 lighter dark">Purefit KETO is all over the Internet and the results <span class="orange">are Astonishing</span>!</span><br>
          <div>
            <img src="./assets/images/fb-logo.jpg" width="263" height="120" alt="">
          </div>
          <div class="space">&nbsp;</div>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <img src="./assets/images/fbposts1.gif" width="447" height="1103" alt="">
        </div>
        <div class="col-lg-12">
          <div class="space">&nbsp;</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="footerC2a">
        <div class="container">
          <div class="col-md-4 col-sm-2">&nbsp;</div>
          <div class="col-md-8 col-sm-10">
            <a href="#ordernow" pageScroll><img src="./assets/images/ketosis-footer-cta.png" width="680" class="img-responsive center-block" height="771" alt=""></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
          <img src="./assets/images/footer-logos-image.png" width="960" height="87" class="center-block img-responsive" alt=""><br>
          <div class="col-lg-12 content centered" style="font-size:12px;">
            <div id="disclaimers">
              <p>
              </p>
              [ <a href="javascript:void(0)" class="open-popup-link" id="faq" (click)="openFaqModal()">FAQ</a> ]
              [ <a href="javascript:void(0)" class="open-popup-link" id="shipping" (click)="openShippingModal()">Shipping</a> ]
              [ <a href="javascript:void(0)" class="open-popup-link" id="privacy" (click)="openPrivacyModal()">Privacy</a> ]
              [ <a href="javascript:void(0)" class="open-popup-link" id="terms-info" (click)="openTermsModal()">Terms</a> ]
              [ <a href="javascript:void(0)" class="open-popup-link" id="disclaimer" (click)="openDisclaimerModal()">Disclaimer</a> ]
              [ <a href="javascript:void(0)" class="open-popup-link" id="contact-us" (click)="openContactModal()">Contact Us</a> ]
              <br>
              <br>
              Purefit KETO is committed to maintaining the highest quality products and the utmost integrity in business practices. All products sold on this website are certified by Good Manufacturing Practices (GMP), which is the highest standard of testing in the supplement industry.
              <p></p>
              <p></p>
              <p>
              </p>
              Notice: The products and information found on this site are not intended to replace professional medical advice or treatment. These statements have not been evaluated by the Food and Drug Administration. These products are not intended to diagnose, treat, cure or prevent any disease. Individual results may vary.
              <br>
              <br>
              © Copyright 2018 Purefit KETO.<br>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
